<h2 class="sub-header">Request sent</h2>
<h4 class="sub-header">Your request has been sent to Batali.</h4>
<br><br>
<p>
  You can monitor the status of your cluster <a href="/manage_cluster?name=<%= name %>">on the dashboard</a>.
</p>
