<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">Request sent</h2>
  <p>
  Your request has been sent to Batali.
  <br><br>
  </p>
  You can monitor the status of your cluster <a href="/manage_cluster?name=<%= name %>">on the dashboard</a>.
</div>
