<div>
  <style>
    h1, div.footer {
      font-family: monospace;
      text-align: center;
    }
    h1, table {
      font-family: monospace;
      margin-left: auto;
      margin-right: auto;
    }
    #page_header {
      color: #680000;
    }
  </style>
  <h1 id="page_header">Batali<h1>
  <br>
  <h1>Running servers</h1>
 
  <p>
  <table cellpadding="10" id="hor-minimalist-b" summary="Running servers">
    <style>
      table, thead {
        font-size: 120%;
        order-bottom:2px;
      }
      #name_column, #name_header {
        padding-left: 25px;
        padding-right: 200px;
      }
      #url_column, #url_header {
        padding-right: 25px;
      }
    </style>
    <thead>
      <tr>
        <style>
          #name_header, #url_header {
            font-size: 110%;
          }
        </style>
        <td id="name_header"><b> Name </b></td>
        <td id="url_header"><b> URL </b></td>
      </tr>
    </thead>
    <tbody>
      <% @servers.each do |name, dns_name| %>
        <tr>
          <td id="name_column"><%= name %></td>
          <td id="url_column"><%= dns_name %></td>
        </tr>
      <% end %>
      <tr><td></td></tr>
    </tbody>
  </table>
  </p>
</div>

<div id="footer">
  <style>
    p {
      font-family: monospace;
      text-align: center;
    }
  </style>
  <br>
  <p><b>A minimalistic Sinatra App for Batali</b>.</p>
  <br>
</div>
