body {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 100%), url(/assets/img/kitchen.jpg), url(/assets/img/kitchen.jpg);
  background: -moz-linear-gradient(top, rgba(125,125,125,0.45) 0%, rgba(125,125,125,0.45) 100%), url(/assets/img/kitchen.jpg);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(125,125,125,0.45)), color-stop(100%, rgba(125,125,125,0.45))), url(/assets/img/kitchen.jpg);
  background: -webkit-linear-gradient(top, rgba(125,125,125,0.45) 0%, rgba(125,125,125,0.45) 100%), url(/assets/img/kitchen.jpg);
  background: -o-linear-gradient(top, rgba(125,125,125,0.45) 0%, rgba(125,125,125,0.45) 100%), url(/assets/img/kitchen.jpg);
  background: -ms-linear-gradient(top, rgba(125,125,125,0.45) 0%, rgba(125,125,125,0.45) 100%), url(/assets/img/kitchen.jpg);
  background: linear-gradient(to bottom, rgba(125,125,125,0.45) 0%, rgba(125,125,125,0.45) 100%), url(/assets/img/kitchen.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  position: relative;
}

.table {
  font-size: 115%;
}

#sub_layout {
  background-color: rgba(215, 215, 215, .78);
}
